body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f2f2f2;
  }
  
  .contenedor {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .pagina {
    position: relative;
    margin-bottom: 20px;
  }
  
  .pagina img {
    width: 100%;
    display: block;
    border-radius: 8px;
  }



  .btn {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 18px;
    background: #25d366;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background 0.3s;
  }
  
  /*
  .btn {
    position: absolute;
    top: 85%; /* posición vertical *//*
    left: 50%; /* posición horizontal *//*
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background: #25d366;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background 0.3s;
  }
  */
 

    .whatsApp-fixed {
      position: fixed;
      bottom: 20px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 100;
    }

    .whatsApp-btn {
      display: flex;
      align-items: center;
      background-color: #25D366;
      color: white;
      padding: 30px 35px;
      border-radius: 60px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .whatsApp-btn:hover {
      background-color: #1ebe5d;
      transform: scale(1.05);
    }

    .whatsApp-btn img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }